.post-header {
  display: flex;
}

.text-content {
  margin-left: 5px;
  line-height: 1px;
}

.post-header img {
  border-radius: 50%;
}

.list-item {
  display: flex;
}

.pfp08 {
  border-radius: 50%;
}
